<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="1.4.1" targetFramework="net462" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="SqlStreamStore" version="0.8.1" targetFramework="net461" />
  <package id="SqlStreamStore.MsSql" version="0.8.1" targetFramework="net461" />
</packages>